<p>Bonjour {{firstname}}</p>

<p>Nous vous confirmons l'enregistrement de la commande N° {{order}}.</p>

<p>Suivez son statut via votre espace: <a href="https://www.kimekoif.com/connexion">Connexion</a></p>