<p>Bonjour {{firstname}} {{lastname}}, </p>

<p>Félicitations pour votre décision de mettre la gestion du ménage de vos locations
saisonnières sur pilotage automatique !</p>

<p>sommes vraiment ravis de vous avoir à nos côtés.</p>


<p>La première étape pour simplifier votre quotidien d'hôte c'est d'ajouter tous vos logements sur
la plateforme Kliner et de synchroniser vos plannings de réservation avec celui des aides ménagères.
Besoin d'aide ? Cet article de notre centre d'aide vous guidera pas à pas.</p>

<p>, vous utilisez actuellement la formule Standard de notre plateforme.
N'hésitez pas à essayer la formule Pro pour profiter de fonctionnalités avancées : meilleurs délais de paiement,
virement bancaire disponible, photos avant-après stockées plus longtemps, etc.</p>

<p> vous avez besoin d'aide, il vous suffit de répondre à cet e-mail. Nous sommes là pour vous 7j/7.</p>

<p>Merci.</p>

<p><a href={{url}}>Gérer votre abonnement</a></p>