<p>Bonjour {{firstname}} {{lastname}}, </p>

<p>Nous espérons que vous tirez profit de votre essai de Kliner !</p>

<p>Plus que 3 jours pour voir comment un planning de ménage automatisé, des aides ménagères
professionnelles à la demande et une logistique sur-mesure peuvent simplifier votre quotidien d'hôte.</p>

<p> <strong>meilleure façon de gérer votre ménage vous attend.</strong> </p>

<p><a href={{url}}>Choisir une formule</a></p>

<p>Envoyé avec ❤️ par Kliner</p>
<p>Marque de Netorev Systems</p>
<p>22 Chemin de Saint-Christophe</p>
<p>06130 Grasse, France</p>
